attrs==21.2.0
certifi==2020.12.5
future-fstrings==1.2.0
imageio==2.9.0
importlib-metadata==4.7.0
iniconfig==1.1.1
numpy==1.21.2
opencv-python==4.5.3.56
packaging==21.0
Pillow==8.3.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
PyYAML==5.4.1
toml==0.10.2
tqdm==4.62.1
typing-extensions==3.10.0.0
yacs==0.1.8
zipp==3.5.0
